<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">

      <!--bind the recipeEl item of the recipes array to the recipe property of the selector. So that inside the component that renders this selector recipe-item, you can use recipe property with @Input() and get each iterations' values that way-->
      <!-- <app-recipe-item
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)"
      ></app-recipe-item> -->
        <!--listening to recipeSelected event from recipe-item.component. When it is triggered, execute method called onRecipeSelected() passing the recipeEl which is the object of the iteration from the app-recipe-item component.
        so you are passing the info of the iteration's data to the onRecipeSelected() method.-->
      <!--Section 10 adding services to the components -->
      <!--this is 2nd step where it loops the app-recipe-item component for every recipe that exists in recipes. Sets recipeEl as the elemenet and passes that element through property binding to the app-recipe-item component. go there now.-->
      <!--when you want to load the recipe-detail.component by clicking on each iteration of the recipe.list.component, add a let i=index to have a unique id of each object so that you can pass that along to the recipe-details
      component to load which recipe you are wanting to edit. now go to the app-recipe-item and there should be a @input() index there to receive this value-->
      <app-recipe-item
        *ngFor="let recipeEl of recipes; let i = index"
        [recipe]="recipeEl"
        [index]="i"
      ></app-recipe-item>
  </div>
</div>

